* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .firstscreen {
  width: 100%;
  background: #FCFCFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 40px 0 40px;
}

.container .firstscreen .firstscreen__header {
  width: 100%;
  height: 70px;
  border: 2px solid #F0F0F0;
  background: #FCFCFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .firstscreen .firstscreen__header .header__navlogo {
  width: 70px;
  border-right: 2px solid #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .firstscreen .firstscreen__header .header__navitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .firstscreen .firstscreen__header .header__navitems ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .firstscreen .firstscreen__header .header__navitems ul a {
  font-family: 'Rubik' , sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 154%;
  color: #080029;
  margin-left: 100px;
}

.container .firstscreen .firstscreen__header .header__navaccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.container .firstscreen .firstscreen__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .firstscreen .firstscreen__main .mainicon-zoo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .main__iconnav {
  width: 70px;
  height: 510px;
  background: #FCFCFC;
  border-right: 2px solid #F0F0F0;
  border-left: 2px solid #F0F0F0;
  border-bottom: 2px solid #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px 40px 0 70px;
  height: auto;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo .main-zoo_item1 {
  margin-right: 20px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo .main-zoo_item2 .main-zoo__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo .main-zoo_item2 .main-zoo__title .logopanda {
  border-radius: 50%;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo .main-zoo_item2 .main-zoo__title .main-zoo__title-txt {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo .main-zoo_item2 .main-zoo__title .main-zoo__title-txt h2 {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0B0B0B;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo .main-zoo_item2 .main-zoo__title .main-zoo__title-txt .main-zoo__icon-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo .main-zoo_item2 .main-zoo__title .main-zoo__title-txt .main-zoo__icon-txt .logopanda {
  width: 16px;
  height: 16px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo .main-zoo_item2 .main-zoo__title .main-zoo__title-txt .main-zoo__icon-txt p {
  margin-left: 5px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 154%;
  color: #747474;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo .main-zoo_item2 .main-zoo-btn {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo .main-zoo_item2 .main-zoo-btn h2 {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 145%;
  color: #080029;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo .main-zoo_item2 .main-zoo-btn p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 154%;
  color: #747474;
  margin: 15px 0;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo .main-zoo_item2 .main-zoo-btn .main-button-blue {
  width: 211px;
  height: 59px;
  background: #0F0049;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo .main-zoo_item2 .main-zoo-btn .main-button-blue a {
  width: 61px;
  height: 19px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FCFCFC;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-2 {
  margin-top: 50px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-2 .other-camps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-2 .other-camps h2 {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 145%;
  color: #080029;
  margin-right: 5px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-2 .other-camps img {
  width: 13px;
  height: 9px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-2 .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-2 .slider img {
  margin-right: 30px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-2 .slide {
  margin-top: 40px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-2 .slide a {
  margin-right: 20px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 {
  margin-top: 80px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item1 {
  width: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item1 h3 {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
  margin-bottom: 30px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item1 p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 154%;
  color: #747474;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item2 .title-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #D3D3D3;
  padding: 25px 0;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item2 .title-plus h4 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 145%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #080029;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item2 .title-plus a {
  width: 22px;
  height: 22px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item3 {
  border-bottom: 1px solid #609FFF;
  margin-top: 30px;
  padding-bottom: 30px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item3 h4 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 145%;
  color: #609FFF;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item3 p {
  margin: 30px 0;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item3 p, .container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item3 h5 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 154%;
  color: #747474;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item3 h5 a {
  color: #609FFF;
  font-family: 'Rubik';
  font-size: 16px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #D3D3D3;
  padding: 30px 0;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item4 h4 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 145%;
  color: #080029;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .main-zoo-3 .main-zoo-3-item4 a {
  width: 22px;
  height: 22px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .fourthscreen {
  width: 100%;
  height: auto;
  padding: 100px 0;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .fourthscreen .fourthscreen__title {
  margin-bottom: 100px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .fourthscreen .fourthscreen__title h1 {
  font-family: 'Rubik' , sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.115em;
  color: #0B0B0B;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .fourthscreen .fourthscreen__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .fourthscreen .fourthscreen__img .fourthscreen__img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .fourthscreen .fourthscreen__img .fourthscreen__img1 img {
  margin-right: 30px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .fourthscreen .fourthscreen__img .fourthscreen__img1 .img__txt {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .fourthscreen .fourthscreen__img .fourthscreen__img1 .img__txt h1 {
  font-family: 'Merriweather' , sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 145%;
  color: #0F0049;
  margin-bottom: 30px;
}

.container .firstscreen .firstscreen__main .mainicon-zoo .zootranslation .fourthscreen .fourthscreen__img .fourthscreen__img1 .img__txt p {
  font-family: 'Rubik' , sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 154%;
  color: #747474;
}

.container .firstscreen .seventhscreen {
  width: 100%;
  height: 100vh;
  background-color: #0B0B0B;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 100px 0 45px;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen1 {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen1 .img1 {
  width: 120px;
  height: 90px;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen1 .img2 {
  width: 120px;
  height: 62px;
  margin: 100px 0;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen1 .img3 {
  width: 128px;
  height: 47px;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen2 h2 {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #FCFCFC;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen2 .footernav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen2 .footernav a {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  color: #BCBCBC;
  margin-top: 30px;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen3 .footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen3 .footer1 h2 {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #FCFCFC;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen3 .footer1 p {
  width: 332px;
  height: 84px;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  color: #BCBCBC;
  margin: 45px 0;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen3 .footer1 .footer-btn {
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen3 .footer1 .footer-btn a {
  margin: 15px 25px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen3 .footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .firstscreen .seventhscreen .seventhscreen-part1 .svnscreen3 .footer2 a {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #BCBCBC;
}

.container .firstscreen .seventhscreen .seventhscreen-part2 {
  border-top: 1px solid #747474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin: 40px;
}

.container .firstscreen .seventhscreen .seventhscreen-part2 .svnscreen4 {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  color: #BCBCBC;
}
/*# sourceMappingURL=translation.css.map */